.App {
  text-align: center;
}
.App-link {
    color: #61dafb;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .menu-items {
    display: inline;
  }
  .rightGrid {
    right: 0;
    position: absolute;
  }
  
  a {
    color: rgb(250, 249, 249);
    text-decoration: none;
  }
  a:hover {
     color: rgb(13, 86, 134)
  }
  
  body {
    background-color: 'white';
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    width: '100vw';
    height: '100vh';
  }
  
  .container {
    background: rgba(103, 103, 126, 0);
  }
  
  .text{
    display: inline;
    width: 100%;
  }
  
  .read-or-hide{
    color: rgb(255, 255, 255);
    cursor: pointer;
  } 